<div class="login-button-container">
  <div class="login-button-vertical-center" style="top: 80%; width: 100px">
    <div style="padding: 10px"><%= show_svg('key.svg') %></div>
    <%= form_with url: two_factor_validate_path, method: :post do |form| %>
      <%= form.text_field :otp, class: "form-control input-otp", style: "text-align: center; width: 100px;", placeholder: "2FA OTP", autocomplete: "off" %>
      <%= form.submit "Confirm", class: "btn btn-outline-light", style: "width: 100px;" %>
    <% end %><br>
    <%= button_to "Sign out", destroy_user_session_path, class: "btn btn-outline-danger", style: "width: 100px;", :method => :delete %>
  </div>
</div>
